.example-card {
  max-width: 200px;

}

.example-card-footer {
  align-content: center;
  padding: 25px;
}

.column {
  align-content: center;
  float:left;
  width: 10%;
  padding: 10px 10px;

}

.row {margin: 20px -5px;}

.position{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100;
}




