<div><h1 style="text-align: center;">Track List</h1></div>
<div class="row">
  @for (track of tracks; track track.id) {
  <div class="column">
    <mat-card class="example-card">
      <mat-card-header>

        <mat-card-title >  <h2>{{track.title}}</h2></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <h4>Release Date</h4>
        <p>{{track.releaseDate}}</p>
        <h4>Genre</h4>
        <p>{{track.genre}}</p>
        <h4>Duration</h4>
        <p>{{track.duration}}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="editTrack(track)">EDIT</button>
        <button mat-button (click)="deleteTrack(track)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  }
</div>

<div class="position">
    <button mat-fab aria-label="Example icon button with a delete icon" (click)="addTrack()">
      <mat-icon>add</mat-icon>
    </button>

  </div>
